.open_card__container {
  background-color: #1c191d;
  height: 85vh;
  width: 950px;
  margin: 35px auto;
  border-radius: 15px;
  padding: 10px;
  display: grid;
  justify-content: center;
  overflow-y: scroll;
}

.open_card__container::-webkit-scrollbar {
  width: 10px;
}

.open_card__container::-webkit-scrollbar-track {
  background-color: #2e2d2d;
  border-radius: 5px;
}

.open_card__container::-webkit-scrollbar-thumb {
  background-color: #dcc0c0;
  border-radius: 5px;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
  .open_card__container {
    background-color: #1c191d;
    height: 80vh;
    width: 70vw;
    margin: 35px auto;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 768px) {
  .open_card__container {
    background-color: #1c191d;
    height: 100vh;
    width: 100vw;
    margin: 35px auto;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    justify-content: center;
  }
}
@media screen and (max-width: 360px) {
  .open_card__container {
    background-color: #1c191d;
    height: 80vh;
    width: 95vw;
    margin: 35px auto;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
  }
}
