:root {
  --text-pink: #ca18aa;
  --text-white: #f9f3fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.App {
  display: grid;
  grid-template-columns: 404px 3fr;
  background-color: #2d232b;
}

@media screen and (max-width: 1024px) {
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
